@font-face {
    font-family: 'Novacento Sans Wide';
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot");
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-UltraLight-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-UltraLight-webfont.svg#novecento_sans_wideultralight") format("svg");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Work_Sans_300.eot?#iefix") format("embedded-opentype"), url("../fonts/Work_Sans_300.woff") format("woff"), url("../fonts/Work_Sans_300.woff2") format("woff2"), url("../fonts/Work_Sans_300.svg#WorkSans") format("svg"), url("../fonts/Work_Sans_300.ttf") format("truetype");
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Work_Sans_500.eot?#iefix") format("embedded-opentype"), url("../fonts/Work_Sans_500.woff") format("woff"), url("../fonts/Work_Sans_500.woff2") format("woff2"), url("../fonts/Work_Sans_500.svg#WorkSans") format("svg"), url("../fonts/Work_Sans_500.ttf") format("truetype");
}

body {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

p.lead, .paragraph.lead>p, #preamble>.sectionbody>.paragraph:first-of-type p {
	font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
}
h2, h3, h4, h5, h6 {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    color: #5e5e5e;
    font-weight: 400;
    letter-spacing: -1px;
}
h1 {
    font-family: "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-weight: 200;
}
#toctitle {
	margin-left: -18px;
	margin-right: -18px;
	margin-top: -22.5px !important;
	padding: 18px;
	font-weight: 800;
	color: white;
	background-color: black;
	border-bottom: 4px solid #fb3232;
}

#toc.toc2 {
	background-color: #323232;
}

@media screen {
  #tocbot > ul.toc-list{
    margin-bottom: 0.5em;
    margin-left: 0.125em
  }

  #tocbot ul.sectlevel0, #tocbot a.toc-link.node-name--H1 + ul {
    padding-left: 0
  }

  #tocbot a.toc-link {
     height:100%
  }

  .is-collapsible{
    max-height:3000px;
    overflow:hidden;
  }

  .is-collapsed{
     max-height:0
  }

  #tocbot a.toc-link.is-active-link {
    color: white !important;
  }
}

@media print{
  #tocbot a.toc-link.node-name--H4{ display:none }
}

#toc a {
	color: #aaaaaa;
}

#toc a:hover {
	color: white;
}

#toc a:active {
  text-decoration: none;
}

a {
	color: #ff5050;
	text-decoration: none;
}

a:hover {
  color: #9c0000;
	text-decoration: underline;
}

pre.highlight { line-height: 1; }

code { font-size: 0.8em; tab-size: 2;}

/* Tabs (tutorial) */

.input[type=radio] {
    display:none;
}

label {
    font-weight: normal;
    color: #ccc;
    text-align: center;
    line-height: 2;

    cursor: pointer;
    border-bottom: 2px solid #ccc;
}

label i {
    padding: 5px;
    margin-right: 0;
}

label:hover {
    color: #fb3232;
    border-bottom: 2px solid #fb3232;
}

.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;

    background-color:#ffffff;
}

#tab-eclipse:checked ~ div [for=tab-eclipse],
#tab-intellij:checked ~ div [for=tab-intellij] {
    background: #FFF;
    border-bottom: 2px solid #fb3232;
    color: #fb3232;
}

#tab-eclipse:checked ~ div .tab-content-eclipse,
#tab-intellij:checked ~ div .tab-content-intellij {
    display: block;
}
/*end tabs*/

/* copy to clipboard */
.listingblock:hover .clipboard {
    display: block;
}

.clipboard {
    display: none;
    border: 0;
    font-size: 0.6em;
    text-transform: uppercase;
    padding: 6px;
    color: #999;
    position: absolute;
    top: .425rem;
    right: .1rem;
    background: transparent;
}

code + .clipboard {
    top: 1rem !important;
}

.clipboard:hover, .clipboard:focus, .clipboard:active {
    outline: 0;
    background-color: #eee9e6;
}